.flexCenter{
    justify-content: space-between;
}
.f-left{
    gap: 1rem;
}

.f-menu {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
    justify-content: flex-start; /* Aligns the items to the left */
    align-items: center; /* Vertically centers the items */
}

.f-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media (max-width:768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
}
